.nav-button {
    -fx-background-color: transparent;
    -fx-text-fill: "#fcfcfc";
}

.nav-button:hover {
    -fx-text-fill: "#792525";
}

.primary-button {
    -fx-background-color: "#fcfcfc";
    -fx-text-fill: "#212121";
}

.primary-button:hover {
    -fx-background-color: "#792525";
    -fx-text-fill: "#212121";
}

.table-view {
    -fx-background-color: transparent;
    -fx-font-size: 15px;
}

.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler{
    -fx-border-width: 3px;
    -fx-border-color: "#fcfcfc" transparent;
}

.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background,
.table-view .column-header-background .filler {
    -fx-background-color: transparent;
    -fx-text-background-color: "#fcfcfc";

}

.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
}
.table-row-cell: hover {
    -fx-background-color: transparent;
    -fx-text-background-color: "#792525";
}

.table-row-cell {
    -fx-text-background-color: "#fcfcfc";
}

.table-row-cell: odd{
    -fx-background-color: transparent;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-row-cell: even{
    -fx-background-color: "#373737";
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}